.advantages {
  display: block;
}

.advantages__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages__item-wrapper {
  background-color: $blue;
  min-height: 211px;
  padding: 54px 18px 40px;
  margin: 0;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 0 17px;
  margin: 0 auto;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 0 0;
  margin: 0 auto;
}

.advantages__image {
  width: 100%;
}

.advantages__sublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__subitem {
  padding: 23px 18px 33px 18px;
}

.advantages__wrapper {
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages__subicon {
  display: block;
  position: absolute;
}

.advantages__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 0 16px 65px;
  margin: 0;
}

.advantages__subdescription {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $gray;
  text-transform: uppercase;
  text-align: start;
  padding: 0 0 0 65px;
  margin: 0;
}

.advantages__titles {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
}

.advantages__numbers {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 11px 0 17px;
  margin: 0 auto;
}

.advantages__descriptions {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 17px 0 0;
  margin: 0 auto;
}

.advantages__item--grey {
  color: #000000;
  background-color: $grayscale;
  min-height: 168px;
  padding: 24px 26px 24px 28px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__image {
    grid-column: 2 / 4;
  }

  .advantages__item---blue {
    display: flex;
    flex-wrap: wrap;
    min-height: 256px;
  }

  .advantages__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-template-rows: auto auto;
  }

  .advantages__sublist {
    display: flex;
    width: 100%;
    padding: 55px 0;
    padding-bottom: 33px;
    grid-column: 1 / -1;
  }

  .advantages__item--grey {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 53px 33px;
  }

  .advantages__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--grey {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 63px 50px 41px 50px;
  }
}
