.appointment {
padding: 38px 18px 49px;
text-align: center;
}
.appointment__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0 15px 0;
}
.appointment__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 0 35px 0;
}

.appointment__button-search {
  min-height: 58px;
  min-width: 285px;
  padding: 16px 49px;
}
