.hero {
  display: flex;
  justify-content: center;
  background-image: url("../img/content-background.jpg");
  background-repeat: no-repeat;
  min-height: 389px;
}

.hero-subtitle {
  padding: 32px 18px 16px;
  margin: 0 auto;
}

.hero-subtitle__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  margin: 0 0 18px 0;
}

.hero__images {
  display: flex;
  justify-content: center;
}

.hero-subtitle__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: $gray;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}

.hero__involucre {
  padding: 36px 20px 14px;
}

@media (min-width: $tablet-width) {
  .hero-subtitle {
    display: block;
    width: 520px;
    padding: 57px 0 55px;
  }

  .hero__involucre {
    display: block;
    width: 435px;
    padding: 64px 0 102px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .hero-content {
    padding: 100px 0 65px;
  }

  .hero__involucre {
    padding: 115pxpx 0 64spx;
  }
}
