.main-header {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.hero__subject-image {
  position: absolute;
  margin: 90px 35px 0;
}

.hero__subject-name {
  position: absolute;
  margin: 50px 70px 0;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    display: block;
    position: absolute;
    left: 38%;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    left: 42%;
  }
}
