.main-nav__list {
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 18px 0 17px 0;
  }

  .main-nav__item:nth-of-type(4n + 2) {
    margin-right: 20%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-width: 1200px;
  }

  .main-nav__item {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 18px 0 17px 0;
  }
}

.main-nav__link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-nav__links {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
