.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 42px;
    padding: 0;
  }
}

.photo__item {
  position: relative;
  padding: 24px 20px;
  border-top: 1px solid $neutral;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
  }

  &--size-xl {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      background-color: $basic;
    }
  }

  &--size-normal:nth-child(even) {
    @media (min-width: $tablet-width) {
      background-color: $basic;
    }
  }

  &--size-normal:nth-child(odd) {
    @media (min-width: $tablet-width) {
      background-color: $grey-accent;
    }
  }
}

.photo__title {
  margin: 0 0 3px 0;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo__author {
  margin: 0 0 15px 0;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo__count {
  display: flex;
  margin: 0;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 10px 0 0 0;
    align-self: start;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo__count-img {
  margin: -3px 14px 0 0;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    margin: -3px 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}

.photo__link {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.photo__info-description {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0 15px 0 0;
  }
}

.photo__img {
  display: block;
  width: 100%;
  background-color: $brown-accent;

  @media (min-width: $tablet-width) {
    max-height: 267px;
  }

  &--size-xl {
    @media (min-width: $tablet-width) {
      max-height: 400px;
    }
  }
}

.photo__info {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 22px 20px 0 20px;
    margin-bottom: -2px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-self: end;
    padding: 22px 20px 0 24px;
    background-color: rgba($black, 0.3);
  }
}
