*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1200px;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: $main-font;
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: $blue;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
